<article class="post">
	<header>
		<div class="title">
			<h2><a href="#" ng-bind="vm.blogDetails.blogtitle"></a></h2>
				 <p ng-bind="vm.blogDetails.blogurl"></p>
		</div>
		<div class="meta">
			<time class="published" datetime="2015-10-25" ng-bind="vm.blogDetails.blogdateverified"></time>
			<a href="#" class="author"><span class="name" ng-bind="vm.blogDetails.authorfirstname"></span>
			<span class="name" ng-bind="vm.blogDetails.authorlastname"></span><img src="" ng-bind="vm.blogDetails.blog_thumb_image" alt="" /></a>
		</div>
	</header>
		<a href="#" class="image featured"><img src="" alt="" ng-bind="vm.blogDetails.blog_fullsize_image"/></a>
		 <p ng-bind="vm.blogDetails.blogdescription"></p>
		 <p ng-bind="vm.blogDetails.statusname"></p>
		 <span>Facebook Url:</span><span ng-bind="vm.blogDetails.facebookpageurl"></span>
	<footer>
	</footer>
</article>